@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    font-family: "Roboto", serif;
}

body {
    margin: 0;
    overflow: hidden;
    background: url("https://i.pinimg.com/originals/45/50/00/4550003a61a122f477eca889a76ae121.jpg") center / cover;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.card {
    width: 400px;
    height: 600px;
    perspective: 1000px; /* Добавляем перспективу для эффекта 3D */

    transform-style: preserve-3d;
    position: relative;
    transition: transform 1s; /* Плавный поворот */
}

.card.flipped {
    transform: rotateY(180deg); /* Поворот при клике */
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
    backface-visibility: hidden; /* Прячет заднюю сторону, когда она не видна */
}

.card .front {
    background: linear-gradient(to top, rgba(0, 47, 75, .7), rgba(168, 57, 36, .7));
    backdrop-filter: blur(5px);
}

.card .back {
    background: linear-gradient(to bottom, rgba(0, 47, 75, .7), rgba(168, 57, 36, .7));
    backdrop-filter: blur(5px);

    transform: rotateY(180deg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
}

.card h1 {
    font-size: 2.5rem;
    color: #dc4225;
    text-align: center;
}

.snow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.snowflake {
    position: absolute;
    top: -10px;
    color: #fff;
    opacity: 0.8;
    font-size: 1rem;
    animation: fall linear infinite;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(600px) rotate(360deg);
    }
}

.message {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.2rem;
}

.btn {
    margin-top: 20px;
    background: #dc4225;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    transition: background 0.3s;
}

.btn:hover {
    background: #a82419;
}

.btn:active {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

/* Стили для гирлянды */
.garland {
    width: 80%;

    transform: translateX(-50%); /* Изгибаем гирлянду */
    position: absolute;
    top: 20px; /* Расположим гирлянду сверху */
    left: 50%;
}

.garland .string {
    position: relative;
    width: 100%;
    height: 3px; /* Ниточка */
    background-color: #333;
    margin-bottom: 20px; /* Отступ от гирлянды */
}

.garland .bulb {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #f39c12;
    animation: blink 1s infinite alternate;
    position: absolute;
    top: -6px; /* Расположим лампочку немного выше нити */
    left: 0;
}

.garland .bulb:nth-child(2) {
    left: 20%;
    animation-delay: .3s;
}

.garland .bulb:nth-child(3) {
    left: 40%;
    animation-delay: .6s;
}

.garland .bulb:nth-child(4) {
    left: 60%;
    animation-delay: .9s;
}

.garland .bulb:nth-child(5) {
    left: 80%;
    animation-delay: 1.2s;
}

.garland .bulb:nth-child(6) {
    left: 100%;
    animation-delay: 1.5s;
}

@keyframes blink {
    0% {
        background-color: #f39c12;
        opacity: 0.8;
    }
    100% {
        background-color: #e74c3c;
        opacity: 1;
    }
}

.tree-container {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

#tree {
    width: 220px;
    display: block;
    margin: 0 auto;
}

.st0 {
    fill: #332C28;
}

.st1 {
    fill: #0f690f;
}

.st2 {
    fill: #388f38;
}

.st3 {
    fill: #a60505;
}

.st4 {
    fill: #d90000;
}

.red-md {
    fill: #aa1231;
    animation: 0.6s red-flash ease-in-out infinite;
}

@keyframes red-flash {
    40% {
        fill: #ea385c;
    }
    80% {
        fill: #aa1231;
    }
}

.gold-lt {
    fill: #c1881c;
    animation: 0.6s gold-lt-flash ease-in-out infinite;
}

@keyframes gold-lt-flash {
    40% {
        fill: #e7b75c;
    }
    80% {
        fill: #c1881c;
    }
}

.blue-lt {
    fill: #1f3e64;
    animation: 0.6s blue-lt-flash ease-in-out infinite;
}

@keyframes blue-lt-flash {
    40% {
        fill: #386fb1;
    }
    80% {
        fill: #1f3e64;
    }
}

.blue-dk {
    fill: #0f1f2f;
    animation: 0.6s blue-dk-flash ease-in-out infinite;
}

@keyframes blue-dk-flash {
    40% {
        fill: #28527c;
    }
    80% {
        fill: #0f1f2f;
    }
}

.gold-dk {
    fill: #69512a;
    animation: 0.6s gold-dk-flash ease-in-out infinite;
}

@keyframes gold-dk-flash {
    40% {
        fill: #b28947;
    }
    80% {
        fill: #69512a;
    }
}

.g1 {
    animation-delay: 0s;
}

.g2 {
    animation-delay: 0.4s;
}

.g3 {
    animation-delay: 0.8s;
}

.shiny-text {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    background-image: url('https://img.freepik.com/free-vector/christmas-concept-with-sparkling-background_23-2148354135.jpg?t=st=1734284790~exp=1734288390~hmac=66414108439f03e7331926269f5707d2b90792b8295f91dcaa3259fc63e0f1b7&w=1380'); /* Замените на URL новогодней картинки */
    background-size: cover;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: shine 8s ease infinite, color-change 6s ease infinite;
}

@keyframes shine {
    0% {
        background-position: 400% 0;
    }
    25% {
        background-position: -400% 0;
    }
    50% {
        background-position: 400% 0;
    }
    75% {
        background-position: -400% 0;
    }
    100% {
        background-position: 400% 0;
    }
}

@keyframes color-change {
    0% {
        color: #fff;
    }
    50% {
        color: transparent;
    }
    100% {
        color: #fff;
    }
}
